html {
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	/*border: 1px solid red;*/
	
}

.container{
	max-width: 1200px;
	width: auto;/*90%*/
	display: flex;
	justify-content: center;
	align-items: center;
	flex-flow: row wrap;
	padding: 0.9375em 0;
	/*margin: 0 auto;*/
	/*border: 1px solid red;*/
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em; /* 30px */
}
h2 {
	font-size: 1.125em; /* 18px */
}
h3 {
	font-size: 0.75em; /* 12px */
}

p {
	font-size: 0.625em; /* 12px */
	line-height: 21px;
}

/*The widths are in a percentage!*/
header {
	width: 100%; /*100%*/
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 110px;*/
	/*border-bottom: 3px solid #77a466;*/
	margin: 0 auto;
	flex-direction: column;
	/*border: 1px solid red;*/
}

header h1 {
	/*float: left;*/
	width: 90%; /*90%*/
	margin: 0;
	padding: 15px 0;
	text-align: center;
	order: 1;
	border-bottom: 3px solid #77a466;
	/*border: 1px solid red;*/
}
header h1 span {
	color: #77a466;
}

header nav {
	/*float: right;*/
	padding: 0;
	width: 90%;
	order: 2;
	/*border: 1px solid red;*/
}
header nav ul {
	margin: 0;
	padding: 0;
	text-align: center;
}
header nav ul li {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 0.875em; /* 14px */
	padding: 1em 0;
	list-style-type: none;
	flex-direction: column;
	
	/*display: inline;*/
}
header nav ul li a{
	text-decoration: none;
	color:#77a466;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	margin: 0 auto;
	flex-direction: column;
	width: 90%;
	/*border: 1px solid red;*/
}

/*.main-image {
	height: auto;
	float: left;
}*/

.main-image img {
	width: 100%;
	border-top: 3px solid #77a466;
	border-bottom: 3px solid #77a466;
}

/*.main-title {
	height: auto;
	float: left;
}*/
.main-title h2 {
	text-align: left;
	padding: 0px 0;
	color: #77a466;
}
.main-title p {
	padding: 0;
	font-size: 1em; /* 16px */
	line-height: 25px;
}

.section-one,
.section-two,
.section-three {
	text-align: left;
	border-top: 1px solid #eee;
}

.section-one h3 {
	padding: 0px 0;
}

.section-two {
	border-left: 1px solid #eee;
	border-right: 1px solid #eee;
}

.section-two h3,
.section-three h3 {
	padding: 0px 0px;
}

.menu {
	line-height: 1.5625em;
	list-style: none;
	padding: 0;
}
.menu li {
	padding: 0px 0;
	color:#77a466;
}

.reviews {
	color: #333;
	font-size: 1em; /* 16px */
	line-height: 21px;
}

.address {
	font-size: 1em; /* 16px */
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	display: flex;
	justify-content: center;
	align-items: center;
	/*height: 50px;*/
	border-top: 3px solid #eee;
	margin: 0 auto;
	/*clear: both;*/
	text-align: center;
	width: 90%;
	/*border: 1px solid red;*/
}
footer span {
	font-family: 'Galada', cursive;
	text-transform: lowercase;
	color: #77a466;
	font-size: 0.875em; /* 14px */
}


@media all and (min-width:768px) {
    /* Tablet styles here */
	.menu li {font-size: 1em;}
	.section-two p,
	.section-three p {font-size: 1em;}

	.bottom-section {
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 auto;
		flex-direction: row;
		width: 90%;
		/*border: 1px solid red;*/
	}

	.section-one,
	.section-two,
	.section-three {
		border-top: 1px solid #eee;
		display: flex;
		flex-direction: column;
		height: 235px;
		justify-content: flex-start;
		padding: 1.5%;
		text-align: left;
		width: 33.33%;
		/*border: 1px solid red;*/
	}
}
 
@media all and (min-width:1200px) {
    /* Desktop styles here */
	header {
		width: 90%; /*100%*/
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 110px;
		margin: 0 auto;
		flex-direction: row;
	}
	header h1 {
		width: 35%; /*90%*/
		margin: 0;
		padding: 0px 5px;
		text-align: left;
		border-bottom: none;
		/*order: 1;*/
		/*border: 1px solid red;*/
	}
	header nav {
		padding: 0;
		width: 50%;
		order: 2;
	}
	header nav ul li {
		display: inline-flex;
		align-items: right;
		text-transform: uppercase;
		font-weight: 700;
		font-size: 0.875em; /* 14px */
		padding: 5px;
		list-style-type: none;
		flex-direction: row;
	}
	.menu li {font-size: 1em;}
	.section-two p,
	.section-three p {font-size: 1em;}

	.section-one,
	.section-two,
	.section-three {
		border-top: 1px solid #eee;
		display: flex;
		flex-direction: column;
		height: 200px;
		justify-content: flex-start;
		padding: 1.5%;
		text-align: left;
		width: 33.33%;
		/*border: 1px solid red;*/
	}
}